Como demoraria muito tempo para fazer a limpeza dos dados a cada vez que executasse o treinamento, esse arquivo pega o dataset, faz a limpeza dos dados e gera um outro dataset com os dados limpos em um arquivo .csv

In [159]:
import numpy as np              #lib cienfífica do python
import re                       #porque vamos trabalhar com expressões regulares
import pandas as pd             #para carregar a base de dados
from bs4 import BeautifulSoup   #é usada pra se fazer preprocessamento em textos
from google.colab import drive  #para termos acesso de recursos do google drive
import csv

In [160]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [161]:
cols = ['sentiment', 'id', 'date', 'query', 'user', 'text']

In [162]:
dataset = pd.read_csv('/content/drive/MyDrive/Database/tweets.csv', header= None, names= cols, engine='python', encoding='latin1')

In [163]:
dataset.drop(['id', 'date', 'query', 'user'], axis=1, inplace=True)

In [164]:
y = dataset.iloc[:, 0].values
x = dataset.iloc[:, 1].values

In [165]:
tamanho, _ = dataset.shape
tamanho

1600000

In [166]:
x, _, y, _ = train_test_split(X, y, test_size = 0.9, stratify = y)

In [167]:
y[y == 4] = 1

In [168]:
a ={}
a['sentiment']= y
a['text']= x
dados = pd.DataFrame(a)

In [169]:
dados

        sentiment                                               text
0               1  @DrRandPink aw..thats sooo sweet. hv a great s...
1               0  @Helixer yeah. the dining hall at my camp just...
2               1  Once again.I beg of you ..Please vote for Mr T...
3               0  im watching VH1 THE LAST DAYS OF LISA &quot;LE...
4               1  @Bethaneystone Watching Mr &amp; Mrs  lol im T...
...           ...                                                ...
159995          0                         i wish it weren't raining
159996          0  @crystalchappell have you given @tinasloan twe...
159997          0  i want my virginia beach hoodie back but krist...
159998          0  I hurt the crap out of my nail while packing e...
159999          0  fun dreaming. I'm off to bed an hour later tha...

[160000 rows x 2 columns]

In [170]:
nlp = sp.load('en')

In [28]:
def clean_tweets(tweet):
  tweet = BeautifulSoup(tweet, 'lxml').get_text()
  tweet = re.sub(r"@[A-Za-z0-9]+", ' ', tweet) #retirar o @user
  tweet = re.sub(r"https?://[A-Za-z0-9./]+", " ", tweet) #retirar a url
  tweet = re.sub(r"[^a-zA-Z.!?]", ' ', tweet) #retirar os numeros
  tweet = re.sub(r" +", ' ', tweet) #remover os excessos de espaços

  tweet = tweet.lower() #conversão para minúsculo
  document = nlp(tweet)

  words = []
  for token in document:
    words.append(token.text)

    #remoção das stop_words e pontuações
  words = [word for word in words if word not in string.punctuation]
  words = ' '.join([str(element) for element in words])
  return words

In [173]:
dados.text = [clean_tweets(tweet) for tweet in dados.text]

In [174]:
f = open('dataset.csv', 'w', newline='', encoding='utf-8')

In [175]:
w = csv.writer(f)

In [176]:
dataset.to_csv('dataset.csv')